:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Ensure the carousel items take 50% of the height and width of the screen */
.carousel-title h2 {
  font-size: 2rem; /* Adjust title font size */
  color: #333; /* Set title color */
  font-weight: bold;
}
